body{
	width:40%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	border: thin solid black;
	text-align: center;
}

th {
	border: thin solid black;
	background-color: yellow;
}

.odd {
	background-color: white;
}

.even {
	background-color: aliceblue;
}

.error {
	color: red;
}

.btn{
	width:50px;
	height:30px;
}

.bottom_btn{
	width:50px;
	height:30px;
	margin:10px;
	float:right;
}